@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primario: #F3F5FC;
    --color-secundario: #FFFFFF;
    --color-terciario: #0A3871;
    --color-Cuarternario: #495057; 
    --color-boton-letra: #D8DFE8 ;
    --color-boton-letra-inverso: #0A3871;
    --color-mensaje: #343A40;

    --font-inter: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primario);
    margin: 0;
}

.container{
    margin: 4%;
    display: flex;
}

.container__inicio{
    width: 90%;
}

.container__inicio__input{
    padding-top: 8%;
    padding-left: 20%;
}

.container__input{
    background-color: var(--color-primario);
    width: 90%;
    height: 33rem;
    border: none;
    color: var(--color-boton-letra-inverso);
    font-family: var(--font-inter);
    font-size: 2.25rem;
    padding: 10px; 
}

#textarea__placeholde::placeholder{
    color: var(--color-terciario);
    font-family: var(--font-inter);
    font-size: 2.25rem;
}
.container__inicio__text{
    color: var(--color-terciario);
    font-family: var(--font-inter);
    font-size: 2.25rem;
    padding: 0.625rem;
}

.image{
    width: 2%;
    height: 2%;
}

.container__section__abertencia{
    display: flex;
    gap: 5px;
    align-items: center;
    padding-bottom: 0.625rem;
    font-size: 1rem;
    font-family: var(--font-inter);
    color: var(--color-Cuarternario);
}


.button{
    display: flex;
    gap: 25px;
    padding-left: 20%;

}

.button__button{
    width: 44%;
    height: 4.18rem;
    font-size: 16px;
    font-family: var(--font-inter);
    border: 2px solid var(--color-boton-letra-inverso);
    border-radius: 24px;   
}

.encriptar{
    background-color: var(--color-boton-letra-inverso);
    color: var(--color-boton-letra);
    font-family: var(--font-inter);
    font-size: 1rem;
}

.desencriptar{
    background-color: var(--color-boton-letra);
    color: var(--color-boton-letra-inverso);
    font-family: var(--font-inter);
    font-size: 1rem;
}

.container__secundario{
    background-color: var(--color-secundario);
    width: 40%;
    height: 50rem;
    box-shadow: 2px 2px 5px  rgb(180, 180, 180);
    border-radius: 2rem;
    padding: 2.5rem 1rem 1rem 1rem;
}

.container__muneco{
    width: 21rem;
    height: 19%;
    padding-top: 10.10rem;
}

.container__texto__mensaje{
    padding: 0.2rem 0.625rem 2rem;
    text-align: center;
    grid-gap: 6.25rem;
}

.container__texto__titulo{
    font-size: 1.5rem;
    font-family: var(--font-inter);
    color: var(--color-mensaje);
    resize: none;
}
textarea {
    resize: none;
}
.container__texto__texto{
    font-size: 1rem;
    font-family: var(--font-inter);
    color: var(--color-mensaje);
    padding-top: 0.62rem;
    
}

.textarea__secundario{
    width: 100%;
    height: 42rem;
    font-family: var(--font-inter);
    font-size: 1.5rem;
    border: none;
    resize:none;
}

#textarea__mensaje__encriptado::placeholder{
    color:var(--color-Cuarternario);
}

.btn{
    margin-top: 1.5rem;
    background-color: var(--color-boton-letra);
    color: var(--color-boton-letra-inverso);
    font-family: var(--font-inter);
    font-size: 1rem;
    width: 100%;
    height: 4.18rem;
    font-size: 1rem;
    font-family: var(--font-inter);
    border: 2px solid var(--color-boton-letra-inverso);
    border-radius: 1.5rem;
}


@media only screen
and (min-width: 768px)
and (max-width: 1024px)
{

    .container__inicio__logo{
        width: 6.25rem;
        height: 3.12rem;
        padding-top: 4.58rem;
    }

    .container__inicio{
        width: 98%;
        height: 58.31rem;
    }
    
    .container__inicio__input{
        padding-top: 5.62rem;
        padding-left: 1rem;
    }
    
    .container__input{
        width: 100%;
        height: 39rem;
        padding: 0.62rem; 
        font-size: 2rem;
        
    }
    
    .button{
        display: flex;
        gap: 2rem;
        padding-left: 0.62rem;
        padding: 0.62rem;
    }
    
    .button__button{
        width: 100%;
        height: 4.18rem;
        font-size: 1rem;
        font-family: var(--font-inter);
        border: 2px solid var(--color-boton-letra-inverso);
        border-radius: 1.5rem;
    }
    
    
    .container__secundario{
        background-color: var(--color-secundario);
        width: 92%;
        height: 100%;
        box-shadow: 2px 2px 5px  rgb(180, 180, 180);
        border-radius: 2rem;    
        margin: 8rem 1rem ;
        display: inline-block;
        padding: 1rem 1rem 1rem 1rem;
    }
    
    .container__muneco{
        display: none;
    }
    
    .container__texto__mensaje{
        padding: 2rem 0.625rem 0.625rem ;
        text-align: center;
    }
    

    .container__texto__texto{
        font-size: 1rem;
        font-family: var(--font-inter);
        color: var(--color-mensaje);
        padding-top: 0.625rem;
        
    }

    .container{
        flex-direction: column;
    }

    .container__texto__mensaje__encriptado{
        padding: 2rem;
        height: 25rem;
    }
    
    .textarea__secundario{
        width: 100%;
        height: 80%;
        font-family: var(--font-inter);
        font-size: 1.5rem;
        border: none;
        
    }
    
    #textarea__mensaje__encriptado::placeholder{
        color:var(--color-Cuarternario);
    }
    
    .btn{
        margin: 1.5rem 8.5rem;
        background-color: var(--color-boton-letra);
        color: var(--color-boton-letra-inverso);
        font-family: var(--font-inter);
        font-size: 1rem;
        width: 65%;
        height: 4.18rem;
        font-size: 1rem;
        font-family: var(--font-inter);
        border: 2px solid var(--color-boton-letra-inverso);
        border-radius: 1.5rem;
    }
    
}

@media only screen
and (min-width: 320px)
and (max-width: 767px){
    
    .container{
        flex-direction: column;
        margin: 1rem;
    }

    .container__inicio{
        width: 95%;
        height: 54rem;
    }

    .container__texto__mensaje {
        padding: 0%;
    }

    .container__inicio__logo{
        width: 30% ;
        height: 3.12rem;
        padding-top: 1rem ;
    }

    .button{
      flex-direction: column; 
      padding-left: 3%; 
      width: 95%;
    }

    .button__button{
        width: 100%;
        height: 4rem;
        padding-left: 0.62rem;  
    }

    .container__inicio__input{
        padding-top: 3.12rem;
        padding-left: 0%;
    }

    .container__input{
        width: 100%;
        height: 30.62rem;
        font-size: 2rem;  
    }

    .container__section__abertencia {
        padding-left: 1.25rem;
    }

    .container__secundario{
        width: 90%;
        height: 100%;
        box-shadow: 2px 2px 5px  rgb(180, 180, 180);
        border-radius: 2rem;
        margin-top: 0.03rem;
        padding: 1.5rem 1rem 1rem 1rem;
    }

    .container__texto__mensaje__encriptado{
        padding: 1.25rem;
    }
    
    .textarea__secundario{
        width: 100%;
        height: 12.5rem;
        font-family: var(--font-inter);
        font-size: 1.5rem;
        border: none;

    }

    .container__muneco{
        display: none;
    }

    .btn{
        width:100%;
        height: 4.18rem;
        border: 2px solid var(--color-boton-letra-inverso);
        border-radius: 1.5rem;
    }
}

